<div class="login-container">
    <div class="form-container">
            <div class="text-container">
                    <h2>Welcome back</h2>
            </div>
            <div class="input-container">
                    <label class="form-label" for="email">Email:</label>
                    <input class="text-input" type="text" name="email" placeholder="Enter email" [(ngModel)] = "userCredentials.email" id="userName" required>
                    <label class="form-label" for="password">Password:</label>
                    <input class="text-input" type="password"  name="password" placeholder="Enter password" [(ngModel)] = "userCredentials.password" id="password" required>
                    <button mat-flat-button class="form-btn" type="button" (click)="loginUser()">LOGIN</button>
                    <div class="message-container">
                            <a>Passwordless login</a>
                    </div>
            </div>
    </div>
</div>
