<div class="login-container">
    <div class="form-container">
            <div class="text-container">
                    <h2>Welcome back</h2>
            </div>
            <div class="input-container">
                    <label class="form-label" for="email">Email:</label>
                    <input class="text-input" type="text" name="email" placeholder="Enter email" id="userName" [(ngModel)]="credential.email" required>
                    <button mat-flat-button class="form-btn" type="button" (click)="sendEmail()">SEND VERIFICATION LINK</button>
                    <div class="message-container">
                        <p>*Once sent, link will be valid for 10 minutes, please make sure to verify it on time</p>
                </div>
            </div>
    </div>
</div>

